.idea
.DS_Store
*.pyc
*.nbc
*.nbi
*.npy
*.label
*.pt
*.pth
*.log

wandb
log
.vscode
segnet_ros/build
segnet_ros/devel
segnet_ros/logs
segnet_ros/.vscode
segnet_ros/.catkin_tools
segnet_ros/src/none/label/*.png

# config files
segnet/checkpoints
segnet/configs/cityscapes/*.json
segnet/configs/hkustgz/*.json

segnet_ros/scripts/run_segnet_ros.sh